.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    align-content: center;
    width: 30%;
}

.rodapePrincipal-navMap-list {
    height: 260px;
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
}

@media screen and (max-width:768px) {
    
    .cabecalhoPrincipal-nav {
        flex-flow: column wrap;
    }
    
    .cabecalhoPrincipal .container {
        display: block;
        text-align: center;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }

    .conteudoPrincipal {
        margin-bottom: 0;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .videoSobre-sobre {
        margin-top: 20px;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-flow: column wrap;
    }

    .rodapePrincipal-patrocinadores-list {
        width: 100%;
        margin: 0;
    }   

}